
<form action="/skills/<%= @skill.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <h1>Edit Skill!</h1>
  <h2 id="skill">skill:</h2>
  <input type='text' name='skill[title]' value="<%= @skill.title %>"/>
  <h2>Description:</h2>
  <textarea name='skill[description]' rows='3'><%= @skill.description %></textarea>
  <input class="btn btn-primary" type='submit' value="Resubmit skill"/>
</form>
