<form action="/skills" method="post">
  <div class="form-group">
    <h3 class="text-left" class="bg-primary"><strong>Enter a new skill:</strong></h3>
      <label for="inputTitle">Skill Title</label>
      <input type="text" class="form-control" id="inputTitle: name="skill[title]"/><br>
  </div>

  <div class="form-group">
    <label for="inputDescription">Description</label>
    <textarea class="form-control" rows="3" name="skill[description]"></textarea><br>
  </div>

  <button type="submit" class="btn btn-success" value="Submit">Submit</button>
</form>
